if SHIELD_SUCKER_RIGHT

config ZMK_KEYBOARD_NAME
    default "aibo_right"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SUCKER_LEFT

config ZMK_KEYBOARD_NAME
    default "aibo_left"

config ZMK_SPLIT
    default y

endif
